.cards-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  max-width: 950px ;
  padding: 0 10px;
  margin: 0 auto;
}

.cards-main > img{
  width: 100%;
  border: 5px solid #3B4CCA;
  border-radius: 20%;
  transition: transform 0.5s ease-out;
}

.cards-main > img:hover{
  transform: scale(1.1);
}

/* score-board */

.score-board-main{
  display: flex;
  font-size: 3em;
  justify-content: center;
  gap: 60px;
  background-color: #FF0000;
  padding: 20px 0px;
  margin-bottom: 20px;
}

/* dialog */

dialog[open]{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:30%;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  gap: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  border: 3px solid green;
  
}

dialog[open]#lose{
  border: 3px solid red;
}  


dialog>button{
  width: 30%;
  padding: 10px 0px;
  border-radius: 10px;
  font-size: 0.7em;
  background-color: #B3A125;
  border: 0px;
}



@media (max-width:1000px) and (min-width:600px) {
  .cards-main{
    grid-template-columns: 1fr 1fr;
    max-width: 600px ;
  }
}


@media (max-width:600px){
  .cards-main{
    grid-template-columns: 1fr;
    max-width: 300px ;
  }

  .score-board-main{
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    gap:20px
  }
}


@media (max-width:1000px){
  .cards-main{
    margin-top: 120px;
  }
  .score-board-main{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .cards-main > img{
    transition: none;
  }

  .cards-main > img:hover{
    transform: scale(1);
  }
}