.cards-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-main > img{
  width: 250px;
  height: 250px;
}

/* dialog {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
} */