.cards-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  width: 70%;
  padding: 0 15%;
}

.cards-main > img{
  width: 100%;
  border: 5px solid #3B4CCA;
  border-radius: 20%;
  transition: transform 0.5s ease-out;
}

.cards-main > img:hover{
  transform: scale(1.1);
}

/* score-board */

.score-board-main{
  display: flex;
  font-size: 3em;
  justify-content: center;
  gap: 60px;
  background-color: #FF0000;
  padding: 20px 0px;
  margin-bottom: 20px;
}

/* dialog */

dialog[open]{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:30%;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  gap: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  border: 3px solid green;
  
}

dialog[open]#lose{
  border: 3px solid red;
}  


dialog>button{
  width: 30%;
  padding: 10px 0px;
  border-radius: 10px;
  font-size: 0.7em;
  background-color: #B3A125;
  border: 0px;
}
